body {
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.books-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.book {
  width: 200px;
  height: 250px;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid black;
}
